extends layout

block content
  h1 David Godfrey
  p Developer at large
  ul
    - positions.forEach(function (item) {
      if item.startDate && item.endDate
        li #{item.title} at #{item.company.name} from #{item.startDate.year} to #{item.endDate.year} - #{(item.endDate.year * 12 + item.endDate.month) - (item.startDate.year * 12 + item.startDate.month)} months
      else if item.startDate
        if item.isCurrent
          li #{item.title} at #{item.company.name} from #{item.startDate.year} - #{((new Date).getFullYear() * 12 + (new Date).getMonth() + 1) - (item.startDate.year * 12 + item.startDate.month)} months
        else
          li #{item.title} at #{item.company.name} from #{item.startDate.year}
    - })