extends layout

  
block content
  - currentYear = (new Date).getFullYear()
  - earliestYear = (new Date).getFullYear()
  h1 David Godfrey
  p Developer at large
  table
    thead
      tr
        th Skill
        th Linkedin Order
        th Reddit Popularity
    tbody
      - skills.forEach(function (item, index) {
        tr
          td #{item.skill.name}
          td #{index + 1}
          if item.reddit
            td #{item.reddit.subscribers}
          else
            td
      - });
  if request.headers.referer
    p You came from #{request.headers.referer}
  h3 Employment History
  ul.linkedin
    - positions.forEach(function (item) {
      if item.startDate && item.endDate
        li.position
          h4.title 
            | #{item.title} 
            small at 
            | #{item.company.name} 
            small from #{item.startDate.year} to #{item.endDate.year} - #{(item.endDate.year * 12 + item.endDate.month) - (item.startDate.year * 12 + item.startDate.month)} months
      else if item.startDate
        if item.isCurrent
          li.position
            h4.title 
              | #{item.title} 
              small at 
              | #{item.company.name} 
              small from #{item.startDate.year} to present - #{((new Date).getFullYear() * 12 + (new Date).getMonth() + 1) - (item.startDate.year * 12 + item.startDate.month)} months
        else
          li.position
            h4.title
              | #{item.title} 
              small at 
              | #{item.company.name} 
              small from #{item.startDate.year}
      if item.startDate && item.startDate.year < earliestYear
        - earliestYear = item.startDate.year
      if item.summary
        div.markdown !{ md(item.summary) }
    - })
  p Spanning #{ parseInt(currentYear, 10) - parseInt(earliestYear, 10) } years in total.
  h3 8tracks listening History
  ul.eightTracks
    - listened.forEach(function (item) {
     li
       a(href='http://8tracks.com' + item.path, title=item.name)
         img(src=item.cover_urls.sq100)
    - })
    
block js
  script.
    var skills = !{JSON.stringify(skills, null, 4)};
    var positions = !{JSON.stringify(positions, null, 4)};
    var listened = !{JSON.stringify(listened, null, 4)};
    var results = !{JSON.stringify(requests, null, 4)};
    $(function(){
    $("table").tablesorter();
    });
